html {
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
}

.page{
  margin-top: 20px;
}

#quantity{
  border-radius: 5px;
}

.grid-size{
  border-radius: 5px;
}

.reset{
  border-radius: 5px;
}

.rainbow-toggle{
  border-radius: 5px;
}

.draw{
  border-radius: 5px;
}

/* Styles for each square of the grid */
.square {
  background-color: white;
  border: 1px solid black;
  opacity: 1;
}

/* Standard colors styles*/
.color {
  background-color: gray;
  border: 1px solid black;
}

/* Styles for Etch-A-Sketch machine */
#etchmachine{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 50px;
  margin-left: 50px;
  width: 1200px;
  height: auto;
  padding-bottom:30px;
  background-color:#d32f2f;
  border-radius:1em;
  box-shadow: 0px 8px 5px rgba(0,0,0,0.6);
}

#etchmachine p{
  text-align:center;
  font-size:1.5em;
  margin: 0 0;
  margin-bottom: 5px;
  padding: 0.5em 0;
  color:#ffff99;
  text-shadow: 0px 1px 2px rgba(0,0,0,0.6);
  -moz-text-shadow: 0px 1px 2px rgba(0,0,0,0.6);
  color:#ffcc00;
  -o-text-shadow: 0px 1px 2px rgba(0,0,0,0.6);
}

/* Grid styles */
#grid {
  display: grid;
  margin: 0 auto;
  background-color: #E8E8E8;
  box-shadow: 0px -3px 5px rgba(0,0,0,0.6);
  width: 900px;
  height: 900px;
}

/* The #nobs ID is used to contain the left and right knobs of the etch-a-sketch machine */
#nobs{
  position:relative;
  height:50px;
}

#rightnob{
  background-color:#fff;
  width:50px;
  height:50px;
  border-radius:50px;
  position:absolute;
  right:20px;
  box-shadow: 0px 8px 5px rgba(0,0,0,0.6);
  -moz-box-shadow: 0px 8px 5px rgba(0,0,0,0.6);
  -webkit-box-shadow: 0px 8px 5px rgba(0,0,0,0.6);
  -o-box-shadow: 0px 8px 5px rgba(0,0,0,0.6);
}

#leftnob{
  background-color:#fff;
  width:50px;
  height:50px;
  border-radius:50px;
  position:absolute;
  left:20px;
  box-shadow: 0px 8px 5px rgba(0,0,0,0.6);
  -moz-box-shadow: 0px 8px 5px rgba(0,0,0,0.6);
  -webkit-box-shadow: 0px 8px 5px rgba(0,0,0,0.6);
  -o-box-shadow: 0px 8px 5px rgba(0,0,0,0.6);
}
